/* 
 *  Resets manuels
 */

header button           { border: none; }
header input[type=text] { border: none; }
header p                { margin: 0; }
ul                      { list-style-type: none; padding-left: 0; }


/* 
 *  Polices & Fontes
 */

body       { font-family: "Source Sans Pro", sans-serif; }
@font-face { font-family: "Miriam Libre";
	     src: url("MiriamLibre-Regular.woff");
	   }
header a,
aside a    { text-decoration: none; }
h1         { font-weight: 200; }
h2         { font-weight: 200; font-variant: small-caps; font-size: 1rem; }
h2 em      { font-style: normal; }
h3         { font-weight: 400; text-decoration: none; }
aside ul   { font-size: 0; }
aside li   { font-size: 1rem; }

header       { font-variant: small-caps; font-weight: 200; }
header em    { font-style: normal; font-weight: 200; }
header #user { font-variant: normal; }
main h3      { font-size: 16px; }
main p.article-meta { font-size: .7rem; }
main p       { font-size: .9rem; }

main .article-meta .tag { text-decoration: none; }

/* 
 *  Apparence
 */

/* Couleurs */
a, a:visited                { color: #f4645f; }
h2                          { color: #525252;}
header                      { color: #aeaeae; }
header button               { color: #aeaeae; }
::-moz-placeholder          { color: #aeaeae; opacity: 1; } /* FF 19+   */
:-ms-input-placeholder      { color: #aeaeae; }             /* IE 10-11 */
::-webkit-input-placeholder { color: #aeaeae; }             /* WebKit   */
header #user                { color: #f4645f; }
aside a, aside a:visited    { color: #dddddd; }
main article                { color: #80878c; }
main .article-meta .tag     { color: #dddddd; }


/* Backgrounds */
header button           { background-color: #eaeaea; }
header button:hover     { background-color: #f8f8f8; }
h2 em                   { background-color: white; }
aside li a              { background-color: #f4645f; }
main .article-meta .tag { background-color: #f4645f; }

/* Bordures  */
header                  { border-bottom: solid 1px #dee0df; }
header button           { border-left:   solid 1px #dee0df; }
header input[type=text] { border-left:   solid 1px #dee0df; }
aside li a              { border:        solid 1px white; }
aside li a              { border-radius: 3px; }
main article            { border:        solid 1px #e5e5e5; }
main article            { box-shadow:  0 0 1px 1px #e5e5e5; }
h2                      { border-bottom: solid 1px #dee0df; }
main .article-meta .tag { border-radius: 2px; }

/* Ombrages, Transitions, Couleurs icones */
header .stock-icon      { fill: #aaa; }
header .user-icon       { fill: #f4645f; }
header button           { transition:   background 1s; }

aside .stock-icon       { fill: #fff; }
aside li a:hover        { background-color: #ff8187; }
aside li a              { transition:   background .3s }

main .stock-icon        { fill: #aaa; }
main .stock-icon:hover  { fill: #ff8187; }
main .stock-icon        { transition: fill .5s; }

article:hover           { box-shadow:   2px 2px 10px 3px #e5e5e5; }
article:hover           { border-color: white; }
article                 { transition:   box-shadow .3s, border .5s; }

article .tag:hover      { background-color: #ff8187; } 
article .tag            { transition: background .3s ; }

/* 
 *  Modèles de boîtes
 */
.stock-icon   { display: inline; }
header,
header *      { vertical-align: middle; }
header > *    { box-sizing: border-box; }
aside  > *    { box-sizing: border-box; }
aside li a    { display: block; }
main .control { position: absolute; }
main article  { position: relative; }
main .article-meta img { position: absolute; }
main .article-meta .tag { display: inline-block; }

/*
 *  Flexgroups
 */
header                       { display:       flex;
			       align-items: center;
			       flex-wrap:     wrap; }  /* FLX header */
header form                  { flex-grow:        5; }  /* FLX header */
header > button              { flex-grow:        1; }  /* FLX header */
header label                 { display:       none; }  /* FLX header */

header form                  { display:       flex; }  /* FLX header > form */
header form input[type=text] { flex-grow:       15; }  /* FLX header > form */
header form button           { flex-grow:        1; }  /* FLX header > form */

aside ul                     { display:       flex;
			       align-items: center;
			       flex-wrap:     wrap;
			       flex-pack:   center; }

/*
 *  Rythme vertical
 */
.stock-icon               { height: 1rem;   width: 2rem; }

h1                        { margin-top: 3rem; height: 2rem; margin-bottom: 2rem; }

header a,
header button             { height: 4rem;   line-height: 4rem; }
header .user-icon         { height: 2.5rem; width: 2.5rem; }

h2 em                     { position: relative; top: .5rem; }

aside  a                  { height: 3rem;   line-height: 3rem; }
aside  li                 { padding: 0.5rem; }

main article              { padding: 0.5rem; }
main article              { margin:  2rem; }
main .control             { top: .5rem; }
main .control .stock-icon { height: 1.5rem;  width: 1.5rem; }
main .article-meta img    { height: 1.5rem;  width: 1.5rem; }
main .article-meta img    { top: 2.5rem; }
main .article-meta .tag   { padding: .1rem; }


/* 
 *  Rythme horizontal
 */
h1                      { text-align: center; }
header a                { padding-left: 2%; padding-right: 2%; }
header input[type=text] { padding-left: 3%; margin-right: 2px; }
h2                      { text-align: center; }
h2                      { margin-left: auto; width: 90%; margin-right: auto; }
aside ul                { margin-left: auto; width: 90%; margin-right: auto; }
h2 em                   { padding-left: 5%; padding-right: 5%; }
aside  a                { text-align: center; }
main article            { padding-left: 5%; padding-right: 5%; }
main article            { margin-left:  5%; margin-right:  5%; }
main article h3         { margin-right: 5%; }
main .control           { right: 2.5%; }
main .article-meta img  { right: 2.5%; }
main .article-meta .tag { padding-left: 1%; padding-right: 1%; }

/* 
 *  Responsive
 */
@media screen and ( min-width: 780px ) {

    /* Left column */
    aside { position: absolute;
	    width:         30%; }
    main  { margin-left:   30%;
	    width:         69%;
	  }
    h2    { margin-top:      0; }

    aside li { min-width: 0; }
    aside a  { height: 1rem; line-height: 1rem; padding: .2rem; }
    aside a  { padding-left: 10%; padding-right: 10%; }
    aside li:last-child { padding-left: 3%; min-width: 94%; padding-right: 3%; }
}

@media screen and ( max-width: 780px ) {
    header #user em { display: none; }
    aside  li       { padding-left: 2%; min-width: 12.667%; padding-right: 2%; }
}

@media screen and ( max-width: 700px ) {
    header button em { display: none; }
    header button    { min-width: 4rem; }
    aside  li        { padding-left: 2.5%; min-width: 15%; padding-right: 2.5%; }
}


@media screen and ( max-width: 560px ) {
    header form  { display: none; }
    header .logo { flex-grow: 10; }
    h1           { font-size: 1.5rem; }
    aside  li    { padding-left: 2.5%; min-width: 20%; padding-right: 2.5%; }
}

@media screen and ( max-width: 360px ) {
    aside li    { padding-left: 1.5%; min-width: 30.333333%; padding-right: 1.5%; }
}