/* 
 * Paramétrages Globaux
 */
.control-icon { width: 20px; height: 20px;}


/* 
 *  Resets manuels
 */
header button           { border: none; }
header input[type=text] { border: none; }
header p                { margin: 0; }
ul                      { list-style-type: none; padding-left: 0; }


/* 
 *  Polices & Fontes
 */
body       { font-family: "Source Sans Pro", sans-serif; }
@font-face { font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
	     src: url("../fonts/MiriamLibre-Regular.woff"); }
header a,
aside a    { text-decoration: none; }
h1         { font-weight: 200; }
h2         { font-weight: 200; font-variant: small-caps; }
aside ul   { font-size: 0; }
aside li   { font-size: 1rem; }

/* 
 *  Apparence
 */

/* Couleurs */
a, a:visited  { color: #f4645f; }

h2                          { color: #525252;}
header                      { color: #aeaeae; }
header button               { color: #aeaeae; }
::-moz-placeholder          { color: #aeaeae; opacity: 1; } /* FF 19+   */
:-ms-input-placeholder      { color: #aeaeae; }             /* IE 10-11 */
::-webkit-input-placeholder { color: #aeaeae; }             /* WebKit   */
aside a, aside a:visited    { color: #dddddd; }

header button        { background-color: #eaeaea; }
header button:hover  { background-color: #f3f3f3; }
aside li             { background-color: #f4345f; }

/*  Bordures  */
header               { border-bottom: solid 1px #dee0df; }
header button        { border-left:   solid 1px #dee0df;
		       border-right:  solid 1px #dee0df; }
header .control-icon { border-left:   solid 1px #dee0df; }
aside li             { border-radius: 3px; }

/* Ombrages, Transitions, Couleurs icones */
header svg          { fill: #aaa; }
header button:hover { box-shadow: 0 0 1px 1px #dee0df; }
header button       { transition: box-shadow 1s, background 1s; }


/* 
 *  Positionnements
 */
header     { vertical-align: middle; }
header > * { box-sizing: border-box; }
aside  > * { box-sizing: border-box; }

/* Flexgroup header */
header       { display:   flex; align-items: center; flex-wrap: wrap; }
header form  { flex-grow:    5; }
header label { display:   none; }

/* Flexgroup header > form */
header form                  { display:   flex;}
header form input[type=text] { flex-grow:   15; }
header form button           { flex-grow:    1; }

/* aside ul, */
aside li,
aside a,
aside .control-icon  { display: inline-block; }


/* 
 *  Alignement vertical
 */
header a,
header button  { height: 4em; line-height: 4em; }

header .user-icon       { height: 3rem; width: 3rem; }
header .control-icon    { height: 4rem; width: 1rem; }

aside li { padding: .75rem; margin: .75rem; }


/* 
 *  Alignement horizontal
 */
header a                { padding-left: 2%; padding-right: 2%; }
header form             { padding-left: 1%; }
header .control-icon    { padding-left: 2%; }
header input[type=text] { margin-left:  3%; }
header .user-icon       { margin-left:  2%; margin-right: 2%; }
header p                { padding-left: 1%; padding-right: 2%; }

aside li a { padding-left: 15%; padding-right: 15%; }
aside li   { margin-left:  5%; margin-right: 5%; }
/* 
 *  Responsive
 */
@media screen and ( max-width: 700px ) {
    header p { display: none; }
}

@media screen and ( max-width: 530px ) {
    header form input, header form svg { display: none; }
    header .logo  { flex-grow: 10; }
    h1 { font-size: 1.5rem; text-align: center; }
    h2 { font-size: 1rem; }
}