/* 
 *  Normalize et paramétrages globaux
 */

.control-icon { width: 20px; height: 20px;}


/* 
 *  Polices & Fontes
 */

body       { font-family: "Source Sans Pro", sans-serif; }
@font-face { font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
	     src: url("../fonts/MiriamLibre-Regular.woff"); }
header a   { text-decoration: none; }

h1 { font-size:  48px; font-weight: 200; }


/* 
 *  Couleurs
 */

a, a:visited  { color: #f4645f; }


header        { color: #aeaeae; }
header button { color: #aeaeae; }
::-moz-placeholder          { color: #aeaeae; opacity: 1; } /* Firefox 19+         */
:-ms-input-placeholder      { color: #aeaeae; }             /* IE 10-11            */
::-webkit-input-placeholder { color: #aeaeae; }             /* WebKit, Blink, Edge */

/* 
 *  Bordures
 */

header        { border-bottom: solid 1px #dee0df; }
header a      { border-right:  solid 1px #dee0df; }
header button { border-top:    none;
                border-bottom: none;
                border-left:   solid 1px #dee0df;
		border-right:  solid 1px #dee0df; }
header input[type=text] { border: none; }
header svg { fill: #aaa; }

/* 
 *  Apparence
 */

header button       { background: #eaeaea;
		      transition: box-shadow 1s, background 1s;
		    }
header button:hover { background-color: #f3f3f3;
		      box-shadow: 0 0 1px 1px #dee0df;
		    }


/* 
 *  Positionnements
 */

header       { display: flex; align-items: center; flex-wrap: wrap; }
header label { display: none; }
header form  { flex-grow: 1; display: flex;}
header form input[type=text] { flex-grow: 1; }

/* 
 *  Alignement vertical
 */

header        { vertical-align: middle; }
header a,
header button { height: 4em; line-height: 4em; }
header p      { margin: 0; }
header .user-icon  { height: 2rem; width: 2rem; }
header .control-icon  { height: 1rem; width: 1rem; }
/* header > * { line-height: 2.5em; vertical-align: center; } */

/* 
 *  Alignement horizontal
 */

header > *           { box-sizing: border-box; }
header a             { padding-left: 2%; padding-right: 2%; }
header .control-icon { margin-left:  2%; }
header form          { padding-left: 1%; }
header .user-icon    { margin-left:  2%; }
header p             { padding-left: 1%; padding-right: 2%; }