{% extends 'RMNBundle::layout.html.twig' %}

{% set title = "Rush my news !" %}

{% block content %}
    <h2>Liste de vos flux</h2>

    {% for article in articles %}
	<article>
	    <a class="control" href="#">
		<svg class="stock-icon">
		    <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#close"></use>
		</svg>
	    </a>
	    <h3 class="article-title">
		<a href="{{ article.getUrlArticle }}">{{ article.getTitre }}</a>
	    </h3>
	    <p class="article-meta">
	    <!-- <img src="{# asset('bundles/rmn/img/favicons/' ~ article.favicon) #}"
		 alt="" /> -->
	    <em class="feed"><a href="{{ article.getUrlArticle }}">
		{{ article.getIdFluxrss.getNomFluxrss }}</a>
	    </em>
	    le <time datetime="{{ article.getDate|date('Y-m-d\\TH:i:sP') }}">
		{{ article.getDate|localizeddate('full','none') }} à
		{{ article.getDate|localizeddate('none','short') }}
	    </time>
	    </p>
	    {#% for tag in article.tags %#}
	    <!-- <a class="tag" href="#">{# tag #}</a> -->
	    {#% endfor %#}
	    {# Attention !! Il faut que le contenu soit sécurisé  #}
	    {# Il devrait l'être avant l'inclusion en BDD         #}
	    {{ article.getContentArticle|raw }}
	</article>
    {% endfor %}
{% endblock %}
