{% extends 'RMNBundle::layout.html.twig' %}
{% set title = 'Recherche de Flux RSS' %}

{% block title %}Recherche de flux RSS/ATOM{% endblock %}

{% block content %}
    <form action="#">
      <input id="recherche"></input>
      <input type="submit" id="submit_search" value="Recherche" />
    </form>

    <div id="form_search"></div>
{% endblock %}
