  <a class="logo" href="{{ path('homepage') }}">RushMyNews</a>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  {% if app.request.attributes.get('_route')=='fos_user_profile_edit' %}
    {% else %}
      <form name="form" method="post" action="/add">
        <label for="form_urlFluxrss" class="required">Ajouter un flux :</label>
        <input id="form_urlFluxrss"
               name="form[urlFluxrss]"
               required="required"
               placeholder="Url de flux à ajouter"
               type="text">
        <button type="submit" id="form_Ajouter" name="form[Ajouter]">

          <svg class="stock-icon">
            <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#add-2"></use>
          </svg>

          <em>Ajouter</em>
        </button>
        <input id="form__token"
             name="form[_token]"
             value="7s5zVpSV-xBub_KxwAQc-qJ_2YWCnY3n5r_QQSM4lLA"
             type="hidden">
      </form>

      <a href="{{ path('feed_search') }}" id="mockup_recherche">
        <svg class="stock-icon">
          <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#search"></use>
        </svg>
        <em>Recherche</em>
      </button>

    {% endif %}

    <a href="{{ path('fos_user_profile_edit') }}">
      <svg class="user-icon">
        <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#user-3"></use>
      </svg>
      <em>{{app.user.username}}</em>
    </a>

  {% else %}

  <a href="{{ path('fos_user_security_login') }}">
  <em>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</em>
  </a>

  <a href="{{ path('fos_user_registration_register') }}">
  <em>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</em>
  </a>

  {% endif %}

{% if app.request.hasPreviousSession %}
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="flash-{{ type }}">
      {{ message }}
      </div>

    {% endfor %}
  {% endfor %}
{% endif %}
