<!DOCTYPE html>
<html lang="fr">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Votre fil d'actualités</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ asset( 'bundles/rmn/css/normalize.css' ) }}"/>
  <link rel="stylesheet" href="{{ asset( 'bundles/rmn/css/style.css' ) }}"/>
</head>

<body>
	<!-- On utilise une feuille de sprites externe pour les icônes;
	     ce script couvre les navigateurs qui ne les supportent pas -->
<script src="{{ asset( 'bundles/rmn/js/svg4everybody.js' ) }}"></script>
<script>svg4everybody();</script>

<header>
	    {% include 'RMNBundle::header.html.twig' %}
</header>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  {% set title = 'Votre fil d\'actualités' %}
{% else %}
  {% set title = 'Gestion de profil' %}
{% endif %}

  <h1>{% block title %}{{ title }}{% endblock %}</h1>

<section class='fos_user_form'>
  {% block fos_user_content %}
  {% endblock fos_user_content %}
</section>

<aside>
{% block aside %}
{% endblock %}
</aside>

<main>
{% block content %}
{% endblock %}
</main>

	{# <script src="{{ asset ( 'bundles/test/script/main.js' ) }}"></script> #}
    <script src="{{ asset ( 'bundles/rmn/js/dist/jquery.js' ) }}"></script>
    <script src="{{ asset ( 'bundles/rmn/js/dist/jquery.min.js' ) }}"></script>
    <script src="http://www.google.com/jsapi?key=ABQIAAAA6C4bndUCBastUbawfhKGURTFnqBuwPowtiyJohQxh-8vJXk-MBTetbTPnQAbLgs9lUkeE34hNbC15Q"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset ( 'bundles/rmn/js/research.js' ) }}"></script>
    <script src="{{ asset ( 'bundles/rmn/js/redirect.js' ) }}"></script>
    </body>
</html>
