{% extends 'RMNBundle:Mockup:layout.html.twig' %}
{% set title = 'Ajout flux RSS' %}

{% block title %}RMNBundle:Mockup:home{% endblock %}

{% block content %}
  <div id="ajout_flux">
    {{ form(form) }}
  </div>
{% endblock %}
