{% extends 'RMNBundle:Mockup:layout.html.twig' %}
{% set title = 'Page vide' %}

{% block title %}RMNBundle:Mockup:home{% endblock %}

{% block content %}
    <h2>Page inexistante pour le moment</h2>
{% endblock %}
