<a class="logo" href="{{ path('mockup_home') }}">RushMyNews</a>

<svg class="control-icon">
    <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#search"></use>
</svg>


      {{ form_start(ajouter_flux) }}
      {{ form_widget(ajouter_flux) }}
      {{ form_rest(ajouter_flux) }}
      {{ form_end(ajouter_flux) }}
      <button type="button" id="search_button">Rechercher</button>


<svg class="user-icon">
    <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#user-3"></use>
</svg>

<p>
    {#{ user.name }#}
</p>
