{% extends "RMNBundle::layout.html.twig" %}

{% block aside %}


<h2><em>Filtres</em></h2>
<ul>
{% for tag in tags %}
  <li><a href="">{{ tag }}</a></li>
{% endfor %}
  <li><a href="#">
    <svg class="stock-icon">
	   <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#add-2"></use>
    </svg></a>
  </li>
</ul>

{% endblock %}

{% block content %}

<h2><em>Actualités</em></h2>

{% for article in news %}
  <article>
    <h3 class="article-title"><a href="{{ article.titleurl }}">{{ article.title }}</a></h3>
    <p class="article-meta">
      <img src="{{ asset('bundles/rmn/img/favicons/' ~ article.favicon) }}" alt="" />
      <em class="feed"><a href="{{ article.feedurl }}">{{ article.feed }}</a></em>
      le <time datetime="{{ article.published_at|date('Y-m-d\\TH:i:sP') }}">
        {{ article.published_at|localizeddate('full','none') }} à
        {{ article.published_at|localizeddate('none','short') }}
      </time>
    </p>
    {% for tag in article.tags %}
      <a class="tag" href="#">{{ tag }}</a>
    {% endfor %}
    <a href="#">
    <svg class="control-icon">
      <use xlink:href="{{ asset( 'bundles/rmn/img/sprites.svg' ) }}#close"></use>
    </svg>
    </a>
    {# Attention !! Il faut que le contenu soit sécurisé  #}
    {# Il devrait l'être avant l'inclusion en BDD         #}
    {{ article.content|raw }}
  </article>
{% endfor %}

{% endblock %}
