{% extends 'RMNBundle:Mockup:layout.html.twig' %}
{% set title = 'Recherche de Flux RSS' %}

{% block title %}RMNBundle:Mockup:home{% endblock %}

{% block content %}
    <form action="">
      <input id="recherche"></input>
      <input type="submit" id="submit_search" value="Recherche" />
    </form>
    <div id="results"></div>
{% endblock %}
